@{
    ViewData["Title"] = "Car Loan";
}

@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - financeexpert.com</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-5">
                    <h1 class="font-weight-light text-center">Adding Car Loan!</h1>
                    <h4 class="font-weight-light text-center">@ViewBag.Error</h4>
                    <hr />
                    <form class="p-3">
                        <div class="form-group">
                            <label for="seeAnotherField">Choose:</label>
                            <select class="form-control" id="carField">
                                <option value="no">No</option>
                                <option value="yes">Buy a Car</option>
                            </select>
                        </div>
                        <div class="form-group" id="noCarDiv">
                            <label>Nothing will be shown as an expense for car loan.</label>
                        </div>
                        <div class="form-group" id="yesCarDiv">
                            <label for="modelmake">Model and Make:</label>
                            <input type="text" class="form-control" id="modelmake" name="carmodelmake">
                            <label for="carpurchase">Purchase Amount:</label>
                            <input type="number" class="form-control" id="carpurchase" name="carpurchase">
                            <label for="cardeposit">Deposit Amount:</label>
                            <input type="number" class="form-control" id="cardeposit" name="cardeposit">
                            <label for="carinterest">Interest Rate:</label>
                            <input type="number" class="form-control" id="carinterest" name="carinterest">
                            <label for="carinsurance">Insurance Premium:</label>
                            <input type="number" class="form-control" id="carinsurance" name="carinsurance">
                        </div>
                        <div class="text-center">
                            <button type="submit" formmethod="post" class="btn btn-secondary btn-lg">Finish Calculation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    </html>
        }
