@{
    ViewData["Title"] = "General Expenses";
}

@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - financeexpert.com</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-5">
                    <h1 class="font-weight-light text-center">Adding General Expenses!</h1>
                    <h4 class="font-weight-light text-center">@TempData["GeneralFirst"]</h4>
                    <h4 class="font-weight-light text-center">@ViewBag.Error</h4>
                    <hr />
                    <form>
                        <div class="form-group">
                            <label for="inputAmount">Enter Gross Income (for the year) *</label>
                            <input type="number" class="form-control" id="inputAmount" name="income" required>
                        </div>
                        <div class="form-group">
                            <label for="inputTax">Enter Tax Deducted (for the year) *</label>
                            <input type="number" class="form-control" id="inputTax" name="tax" required>
                        </div>
                        <div class="form-group">
                            <label for="inputGroceries">Enter Groceries Amount (p/m) *</label>
                            <input type="number" class="form-control" id="inputGroceries" name="groceries" required>
                        </div>
                        <div class="form-group">
                            <label for="inputWater">Enter Water and Lights Amount (p/m) *</label>
                            <input type="number" class="form-control" id="inputWater" name="waterlights" required>
                        </div>
                        <div class="form-group">
                            <label for="inputTravel">Enter Travel Costs (p/m) *</label>
                            <input type="number" class="form-control" id="inputTravel" name="travel" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Enter Phone Costs (p/m) *</label>
                            <input type="number" class="form-control" id="inputPhone" name="phone" required>
                        </div>
                        <div class="form-group">
                            <label for="inputOther">Enter Other Costs (p/m) *</label>
                            <input type="number" class="form-control" id="inputOther" name="other" required>
                        </div>
                        <div style="height:20px">

                        </div>
                        <div class="form-group text-center">
                            <button type="submit" formmethod="post" class="btn btn-secondary btn-lg">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
}
