@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - financeexpert.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h2 class="font-weight-light text-center">Welcome to Finance Expert!</h2>
                <div style="height: 10px"></div>
                <h4 class="font-weight-light text-center">@TempData["LoggedIn"]</h4>
                <hr />
                <div style="height: 10px"></div>
                <h3 class="font-weight-light text-center">About Us</h3>
                <p class="text-center">
                    We aim to bring financial planning and freedom to everyone by making them aware that budget planning and budget projections can masssively help in regard with the amount spent on a daily
                    or monthly basis
                </p>
                <div style="height: 10px"></div>
                <h3 class="text-center font-weight-light">What we do?</h3>
                <p class="text-center">
                    We provide services such as budget calculators, and give an in-depth analysis on how and when you should save your money over time, so that you get where you want to be financially.
                </p>
                <div style="height: 10px"></div>
                <h3 class="text-center font-weight-light">News</h3>
                <p class="text-center">
                    After many months, we have launched this very website so that we can access various communities via one simple place. Although our website is relatively new, we appreciate any feedback you might have. If you would like to comment on our new website, please visit our feedback tab. Thank you!
                </p>
                <div style="height: 20px"></div>
                <div class="card">
                    <div class="card-header text-center">
                        Quote
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p class="text-center">“The only thing standing between you and your goal is the story you keep telling yourself as to why you can’t achieve it.”</p>
                            <footer class="blockquote-footer text-center">Jordan Belfort in <cite title="Source Title">Wolf of Wall Street</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
