@{
    ViewData["Title"] = "Register";
}

@{
    <!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        <div class="container">
            <div class="card border-0 shadow my-5 ">
                <div class="card-body p-5">
                    <h1 class="font-weight-light text-center">Register an Account!</h1>
                    <hr />
                    <form>
                        <div class="form-group">
                            <label for="inputEmail">Email address *</label>
                            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" onfocusout="this.value = removeSpaces(this.value);" required>
                            <small id="safeinfo" class="form-text text-muted">We'll never share your information with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputFull">Full Name *</label>
                            <input type="text" class="form-control" id="inputFull" name="fullname" required>
                        </div>
                        <div class="form-group">
                            <label for="inputNumber">Cellphone Number *</label>
                            <input type="tel" class="form-control" id="inputNumber" name="phone" pattern="[0-9]{10}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password *</label>
                            <input type="password" class="form-control" id="inputPassword" name="password" onfocusout="this.value = removeSpaces(this.value);" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordConfirm">Confirm Password *</label>
                            <input type="password" class="form-control" id="inputPasswordConfirm" name="passwordConfirm" onfocusout="this.value = removeSpaces(this.value);" required>
                        </div>
                        <div class="form-group text-center">
                            <label>Already have an account? <a asp-action="Login" asp-controller="Login">Click here to Login.</a></label>
                        </div>
                        <div class="text-center">
                            <button type="submit" formmethod="post" class="btn btn-secondary">Register</button>
                        </div>
                        <div style="height: 30px"></div>
                    </form>
                </div>
            </div>
        </div>
        <script language="javascript" type="text/javascript">
        function removeSpaces(string) {
            return string.split(' ').join('');
        }
        </script>
    </body>
</html>

}